[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
Flask = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
nltk = "*"
PyPDF2 = "*"
gunicorn = "*"
python-dotenv = "*"
imblearn = "*"
matplotlib = "*"
gensim = "*"
xgboost = "*"
word2vec = "*"
scipy = "1.10.1"
uuid = "*"
streamlit = "*"
watchdog = "*"
wordcloud = "*"
seaborn = "*"
streamlit-authenticator = "*"
bcrypt = "*"
spacy = "*"

[dev-packages]