Flask
numpy
pandas
scikit-learn
nltk
PyPDF2
gunicorn
python-dotenv
imblearn
matplotlib
gensim
xgboost
word2vec
scipy==1.10.1
uuid
streamlit
watchdog
wordcloud
seaborn
streamlit-authenticator
bcrypt
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
fickling>=0.1.3,~=0.1.0
