<!DOCTYPE html>
<html>
<head>
    <title>Resume Parser</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Resume Parser</h1>

        <div class="section">
            <h2>Ingest All Data</h2>
            <form id="process-form" action="/resume/process" method="post">
                <button type="submit" disabled id="ingest-button">Ingest Data</button>
            </form>
        </div>

        <div class="section">
            <h2>Upload New File</h2>
            <form id="upload-form" action="/resume/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file-input">
                <button type="submit">Upload</button>
            </form>
            <div id="upload-status"></div>
        </div>

        <div class="section">
            <h2>Train Model</h2>
            <form id="train-form" action="/resume/train" method="post">
                <button type="submit">Train Model</button>
            </form>
            <div id="train-status"></div>
        </div>
    </div>




    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>